DATABASE_URL="mysql://root@127.0.0.1:3306/bensin_telkom"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bensin_telkom

CORS_ORIGIN=http://localhost:5173

PERJALANAN_TIF_PREFIX=TIF-2954
PERJALANAN_MANAGER_NAME=Nama Manager
PERJALANAN_OFFICER_NAME=Nama Officer
PERJALANAN_TITLE=BIAYA PEMBELIAN BENSIN RODA 4 OPERASIONAL PEKERJAAN NODE B, GAMAS DAN MTEL LOKASI BINJAI
